$default-border-color: #333333 !default;
$default-color: #010101 !default;
$default-background-color: #ffffff !default;
$default-hover-color: $default-background-color !default;

$primary-border-color: #333333 !default;
$primary-color: #010101 !default;
$primary-background-color: #ffffff !default;
$primary-hover-color: $primary-background-color !default;

$error-border-color: #333333 !default;
$error-color: #010101 !default;
$error-background-color: #ffffff !default;
$error-hover-color: $error-background-color !default;

$button-border-radius: 4px !default;

.Button {
  @include buttonText;
  border-radius: $button-border-radius;
  border: 1px solid;
  margin: 4px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  @include shadow;
  padding: 0.5rem 1rem;

  &.default {
    border-color: $default-border-color;
    color: $default-color;
    background-color: $default-background-color;
    &:hover {
      background-color: $default-hover-color;
    }
  }

  &.primary {
    border-color: $primary-border-color;
    color: $primary-color;
    background-color: $primary-background-color;
    &:hover {
      background-color: $primary-hover-color;
    }
  }

  &.error {
    border-color: $error-border-color;
    color: $error-color;
    background-color: $error-background-color;
    &:hover {
      background-color: $error-hover-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
