$default-border-color: $yellow6;
$default-color: $white;
$default-background-color: $yellow6;
$default-hover-color: $yellow7;

$primary-border-color: $lime7;
$primary-color: $white;
$primary-background-color: $lime7;
$primary-hover-color: $lime8;

$error-border-color: $orange8;
$error-color: $white;
$error-background-color: $orange8;
$error-hover-color: $orange9;

$button-border-radius: 8px !default;

@import './base';
