$default-border-color: #333333;
$default-color: #010101;
$default-background-color: #ffffff;

$primary-border-color: #333333;
$primary-color: #010101;
$primary-background-color: #ffffff;

$error-border-color: #333333;
$error-color: #010101;
$error-background-color: #ffffff;

@import './base';
