$button-default-border-color: $blue6;
$button-default-font-color: $blue6;
$button-default-background-color: $gray0;
$button-default-hover-color: $gray2;

$button-primary-border-color: $blue6;
$button-primary-font-color: $gray0;
$button-primary-background-color: $blue6;
$button-primary-hover-color: $blue7;

$button-error-border-color: $red7;
$button-error-font-color: $gray0;
$button-error-background-color: $red7;
$button-error-hover-color: $red8;

@import './base';
