$default-border-color: $yellow5;
$default-color: $gray8;
$default-background-color: $yellow5;

$primary-border-color: $lime6;
$primary-color: $white;
$primary-background-color: $lime6;

$error-border-color: $orange6;
$error-color: $white;
$error-background-color: $orange6;

@import './base';
